[flake8]
# Disable all PEP8 checks as per developer request
# This configuration completely ignores all PEP8 style issues
max-line-length = 9999
exclude = .git,__pycache__,build,dist
# Ignore all error types
ignore = E, W, F, C
# Focus on functionality rather than style
